body{
    font-family: open sans;
}

aside{

}

.fixed{
    position: fixed;
}

.left{float: left;}
.right{float: right;}


.side-menu{
    width: 100px;
    height: 100%;
    background-color: #47ECFF;
    color: black;
    z-index: 1;
}

.unstyled-list ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


.main-menu ul{
}
.main-menu li{
}
.main-menu li a{
}

.social-menu{

}




.main-content{
    margin-left: 100px;
}
.section{
    background-color: #333;
    color: white;
}
